@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #1e1e1e;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 17px 0;
}
@media (max-width: 576px) {
  .header__content {
    padding: 20px 0;
  }
}
.header__social {
  flex: 0 0 180px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 576px) {
  .header__social {
    flex: 0 0 100px;
    gap: 5px;
  }
}
.header__social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: #f8f0ff;
  transition: background-color ease-in-out 0.2s;
}
.header__social-link:hover {
  background-color: #8754E9;
}
.header__social-link:active {
  background-color: #735C9F;
}
.header__social-link::before {
  content: "";
  display: block;
  width: 24px;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transition: filter ease-in-out 0.2s;
}
.header__social-link:hover::before {
  filter: brightness(500%);
}
.header__social-link_vk::before {
  background-image: url(../assets/vk.svg);
}
.header__social-link_tg::before {
  background-image: url(../assets/tg.svg);
}
.header__social-link_ok::before {
  background-image: url(../assets/ok.svg);
}
.header__logo {
  flex: 0 0 auto;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .header__logo-link-image {
    width: 90px;
  }
}
.header__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 180px;
  gap: 2px;
}
@media (max-width: 576px) {
  .header__phone {
    flex: 0 0 100px;
  }
}
.header__phone-link {
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  color: #000;
  transition: color ease-in-out 0.2s;
}
.header__phone-link:hover {
  color: #8754E9;
}
.header__phone-link:active {
  color: #735C9F;
}
@media (max-width: 576px) {
  .header__phone-link {
    display: block;
    width: 30px;
    aspect-ratio: 1/1;
    background: url(../assets/phone.svg) center/24px no-repeat;
  }
}
@media (max-width: 576px) {
  .header__phone-link-text {
    display: none;
  }
}
.header__phone-text {
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: #5a5a5a;
}
@media (max-width: 576px) {
  .header__phone-text {
    display: none;
  }
}

.main-nav .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .main-nav .container {
    padding: 0;
  }
}
.main-nav__menu {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 768px) {
  .main-nav__menu {
    flex: 0 0 calc(100% - 132px);
    max-width: calc(100% - 132px);
    overflow: auto;
  }
}
.main-nav__menu-item {
  flex: 1 0 auto;
  border: 1px solid #c9c9c9;
  border-right: none;
}
.main-nav__menu-item-link {
  display: block;
  padding: 17px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1e1e1e;
  text-align: center;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
@media (max-width: 992px) {
  .main-nav__menu-item-link {
    padding: 11px 15px;
    font-size: 14px;
  }
}
.main-nav__menu-item-link:hover {
  color: #ffffff;
  background-color: #8754E9;
}
.main-nav__menu-item-link:active {
  background-color: #735C9F;
}
.main-nav__bestseller {
  flex: 0 1 734px;
}
@media (max-width: 1400px) {
  .main-nav__bestseller {
    flex: 0 1 480px;
  }
}
@media (max-width: 992px) {
  .main-nav__bestseller {
    flex: 0 1 260px;
  }
}
@media (max-width: 768px) {
  .main-nav__bestseller {
    flex: 0 1 132px;
  }
}
.main-nav__bestseller-link {
  display: block;
  padding: 17px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  background-color: #1e1e1e;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
@media (max-width: 992px) {
  .main-nav__bestseller-link {
    padding: 11px 15px;
    font-size: 14px;
  }
}
.main-nav__bestseller-link:hover {
  background-color: #735C9F;
}
.main-nav__bestseller-link:active {
  background-color: #8754E9;
}

.first-screen {
  position: relative;
  top: -1px;
}
@media (max-width: 1400px) {
  .first-screen .container {
    padding: 0;
  }
}
.first-screen__banner {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 800px;
  padding: 40px 8.5%;
  box-sizing: border-box;
  background: radial-gradient(254% 64% at 192% 76%, #8a6abe 0%, #8567a2 16%, #765a93 40%, #7b5e98 54%, #584379 79%);
}
@media (max-width: 1400px) {
  .first-screen__banner {
    min-height: 620px;
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .first-screen__banner {
    min-height: 540px;
  }
}
@media (max-width: 768px) {
  .first-screen__banner {
    flex-direction: column;
    gap: 35px;
    padding: 70px 0 0;
  }
}
.first-screen__banner-info {
  position: relative;
  z-index: 2;
  max-width: 636px;
}
@media (max-width: 1400px) {
  .first-screen__banner-info {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .first-screen__banner-info {
    max-width: none;
    padding: 0 20px;
  }
}
.first-screen__banner-info-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -0.03em;
  color: #fff;
}
@media (max-width: 992px) {
  .first-screen__banner-info-title {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .first-screen__banner-info-title {
    margin: 0 0 15px;
    font-size: 35px;
  }
}
.first-screen__banner-info-description {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
@media (max-width: 576px) {
  .first-screen__banner-info-description {
    margin: 0 0 30px;
    font-size: 16px;
  }
}
.first-screen__banner-info-look-button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .first-screen__banner-info-look-button {
    padding: 16px 40px;
    font-size: 16px;
  }
}
.first-screen__banner-info-look-button:hover {
  color: #735C9F;
  background-color: white;
}
.first-screen__banner-info-look-button:active {
  color: #ffffff;
  border-color: #8754E9;
  background-color: #8754e9;
}
.first-screen__banner-figure {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 768px) {
  .first-screen__banner-figure {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    aspect-ratio: 100/100;
  }
}
.first-screen__banner-figure-image {
  display: block;
  max-width: 100%;
  height: 100%;
}
@media (max-width: 1400px) {
  .first-screen__banner-figure-image {
    position: relative;
    right: -100px;
  }
}
@media (max-width: 992px) {
  .first-screen__banner-figure-image {
    right: -200px;
  }
}
@media (max-width: 768px) {
  .first-screen__banner-figure-image {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(90deg) scale(1.03) translate3d(3%, 0, 0);
  }
}

.science-base {
  padding: 120px 0 0;
}
@media (max-width: 768px) {
  .science-base {
    padding: 60px 0 0;
  }
}
.science-base__content {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media (max-width: 1400px) {
  .science-base__content {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .science-base__content {
    flex-wrap: wrap;
  }
}
.science-base__figure {
  position: relative;
  flex: 0 1 815px;
}
@media (max-width: 992px) {
  .science-base__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
    order: 1;
  }
}
.science-base__figure::before {
  content: "";
  position: absolute;
  left: 8%;
  bottom: 5%;
  display: block;
  width: 54%;
  aspect-ratio: 1/1;
  border-radius: 400px;
  background-color: #dec6ff;
  filter: blur(100px);
}
@media (max-width: 576px) {
  .science-base__figure::before {
    filter: blur(50px);
  }
}
.science-base__figure-image {
  position: relative;
  z-index: 10;
  display: block;
  max-width: 100%;
  height: auto;
}
.science-base__info {
  flex: 1 1 742px;
}
@media (max-width: 992px) {
  .science-base__info {
    order: 0;
  }
}
.science-base__info-title {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 40px;
  color: #000;
}
@media (max-width: 576px) {
  .science-base__info-title {
    margin-bottom: 20px;
    font-size: 25px;
  }
}
.science-base__info-text {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #000;
}
@media (max-width: 576px) {
  .science-base__info-text {
    font-size: 16px;
  }
}

.care-program {
  padding: 120px 0 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .care-program {
    padding: 60px 0 0;
  }
}
.care-program__title {
  margin: 0 0 60px;
  font-weight: 600;
  font-size: 40px;
  color: #000;
}
@media (max-width: 768px) {
  .care-program__title {
    margin-bottom: 30px;
    font-size: 25px;
  }
}
.care-program__slider {
  position: relative;
}
.care-program__slider .swiper {
  overflow: visible;
}
.care-program__slider-controls-prev, .care-program__slider-controls-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 40px;
  aspect-ratio: 1/1;
  background: url(../assets/next.svg) center/cover no-repeat;
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .care-program__slider-controls-prev, .care-program__slider-controls-next {
    width: 30px;
  }
}
.care-program__slider-controls-prev.swiper-button-disabled, .care-program__slider-controls-next.swiper-button-disabled {
  opacity: 0.3;
}
.care-program__slider-controls-prev {
  left: 40px;
  transform: translateY(-50%) rotate(180deg);
}
@media (max-width: 992px) {
  .care-program__slider-controls-prev {
    left: 20px;
  }
}
.care-program__slider-controls-next {
  right: 40px;
}
@media (max-width: 992px) {
  .care-program__slider-controls-next {
    right: 50px;
  }
}
.care-program__card {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 510px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (max-width: 992px) {
  .care-program__card {
    min-height: 420px;
    padding: 20px;
    border-radius: 30px;
  }
}
@media (max-width: 576px) {
  .care-program__card {
    min-height: 300px;
  }
}
.care-program__card-figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.care-program__card-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.care-program__card-info {
  position: relative;
  z-index: 2;
}
.care-program__card-info-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}
@media (max-width: 576px) {
  .care-program__card-info-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
.care-program__card-info-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
}
@media (max-width: 576px) {
  .care-program__card-info-text {
    font-size: 16px;
  }
}

.key-product {
  padding: 120px 0 0;
}
@media (max-width: 768px) {
  .key-product {
    padding: 60px 0 0;
  }
}
.key-product__content {
  display: flex;
  background: radial-gradient(247.54% 77.58% at 68.93% 75.38%, #735c9f 36.26%, #391b57 78.79%);
}
@media (max-width: 768px) {
  .key-product__content {
    flex-wrap: wrap;
  }
}
.key-product__info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 920px;
  padding: 40px 6.5%;
  box-sizing: border-box;
}
@media (max-width: 1400px) {
  .key-product__info {
    padding: 30px;
  }
}
.key-product__info-title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}
@media (max-width: 992px) {
  .key-product__info-title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .key-product__info-title {
    margin-bottom: 5px;
    font-size: 25px;
  }
}
.key-product__info-description {
  margin: 0 0 40px;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
}
@media (max-width: 992px) {
  .key-product__info-description {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .key-product__info-description {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.key-product__info-text {
  margin: 0 0 64px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
}
@media (max-width: 992px) {
  .key-product__info-text {
    margin-bottom: 40px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .key-product__info-text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.key-product__info-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.key-product__info-advantages-card {
  flex: 0 1 174px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #8567a2;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .key-product__info-advantages-card {
    flex: 0 0 calc(50% - 5px);
    padding: 20px 12px;
  }
}
.key-product__info-advantages-card-value {
  position: relative;
  padding-top: 72px;
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #fff;
}
@media (max-width: 768px) {
  .key-product__info-advantages-card-value {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 20px;
  }
}
.key-product__info-advantages-card-value > span {
  font-size: 50px;
}
@media (max-width: 768px) {
  .key-product__info-advantages-card-value > span {
    font-size: 30px;
  }
}
.key-product__info-advantages-card-value::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 62px;
  aspect-ratio: 1/1;
  background: url(../assets/color-dropper.svg) center/cover no-repeat;
}
@media (max-width: 768px) {
  .key-product__info-advantages-card-value::before {
    position: static;
    width: 32px;
    margin-right: 8px;
  }
}
.key-product__info-advantages-card-text {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}
@media (max-width: 768px) {
  .key-product__info-advantages-card-text {
    font-size: 14px;
  }
}
.key-product__figure {
  flex: 1 1 900px;
}
.key-product__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}